{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Добро пожаловать.</h1>
            <p>Привет, меня завут Михаил Красильников, и это мой блог который посвещен программированию и
                все что связано с IT технологиям. У меня есть цель стать back-end разработчиком и получить свою первую работу,
                сдесь вы сможете следить за моим развитием и так же высказывайте свое мнение.</p>
            <p>Социальные сети</p>
        </div>
    </div>
{% endblock %}