{% extends 'base.html.twig' %}

{% block content %}
    {% for post in posts %}
        <div class="well" style="margin: 5% 10%;">
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.article }}</p>
            <div class=""> <p>Автор: {{ post.user.username }}</p> </div>
        </div>
    {% endfor %}
{% endblock %}