{% extends 'base.html.twig' %}

{% block content %}
    <div class="" style="width: 20%; margin: auto;">
        <h1>Авторизация</h1>
        <form class="" action="" method="post">
            <div class="form-group"><input class="form-control" type="text" name="email" value="" placeholder="E-mail"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" value="" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-default" type="submit" name="submit">Войти</button></div>
        </form>
    </div>

{% endblock %}