{% extends 'base.html.twig' %}

{% block content %}
    <div class="alert-success">
        <strong>Успех</strong> запись была добавлена <a href='{{ path('adding_post') }}'></a>
    </div>
{% endblock %}